@import 'normalize.css';
@import 'setting.scss';
@import 'vars.scss';

body {
    font-family: 'Ubuntu';
}

.container {
    max-width: 987px;
    padding: 0 15px 0 15px;
    overflow: hidden;
    margin: 0 auto;
}

.swiper-pagination-bullet {
    background-color: var(--gray-color);
    opacity: 1;

    &-active {
        background-color: var(--ocean-blue-color);
    }
}