:root {
    // colors
    --light-color: #fff;
    --matte-black-color: #2C2C2C;
    --philippine-gray-color: #8F8F8F;
    --gray-color: #C7C7C7;
    --deep-gray-color: #A4A4A4;
    --ocean-blue-color: #00A0AB;
}